{
  "plugins": [
    "@babel/plugin-syntax-jsx"
  ],
  "presets": [
    [
      "@babel/typescript",
      {
        // We like JSX everywhere. No reason why we have to deal with
        // legacy type assertion supported in earlier versions.
        "allExtensions": true,
        "isTSX": true
      }
    ],
    [
      "@babel/env",
      {
        "exclude": [ "transform-regenerator", "transform-async-to-generator" ],
        "useBuiltIns": "usage",
        "corejs": 3,
        "loose": true,
      }
    ],
    [
      "@babel/react",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
