{
  "comments": false,
  "sourceMaps": true,
  "env": {
    "development": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": true,
            "regenerator": false
          }
        ]
      ],
      "presets": [
        [
          "@babel/env",
          {
            "exclude": [
              "transform-regenerator",
              "transform-async-to-generator"
            ],
            "useBuiltIns": "usage",
            "loose": true,
            "modules": false,
            "targets": {
              "node": "6.9.0"
            }
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "module:fast-async"
      ],
      "presets": [
        [
          "@babel/env",
          {
            "exclude": [
              "transform-regenerator",
              "transform-async-to-generator"
            ],
            "useBuiltIns": "usage",
            "loose": true,
            "modules": "commonjs",
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
