{
  "comments": false,
  "sourceMaps": true,
  "env": {
    "development": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": true,
            "regenerator": false
          }
        ]
      ],
      "presets": [
        [
          "@babel/typescript",
          {
            "allExtensions": true,
            "isTSX": true
          }
        ],
        [
          "@babel/env",
          {
            "exclude": [
              "transform-regenerator",
              "transform-async-to-generator"
            ],
            "useBuiltIns": "usage",
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "module:fast-async"
      ],
      "presets": [
        [
          "@babel/typescript",
          {
            "allExtensions": true,
            "isTSX": true
          }
        ],
        [
          "@babel/env",
          {
            "exclude": [
              "transform-regenerator",
              "transform-async-to-generator"
            ],
            "useBuiltIns": "usage",
            "loose": true,
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
