{
  "comments": false,
  "sourceMaps": true,
  "env": {
    "development": {
      "plugins": [
        [
          "@babel/plugin-proposal-object-rest-spread",
          {
            "useBuiltIns": true
          }
        ],
        "@babel/plugin-proposal-class-properties",
        [
          "module:fast-async",
          {
            "useRuntimeModule": true
          }
        ],
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": true,
            "regenerator": false,
            "polyfill": false,
            "useBuiltIns": true,
            "useESModules": true
          }
        ]
      ],
      "presets": [
        [
          "@babel/env",
          {
            "exclude": [
              "transform-regenerator",
              "transform-async-to-generator"
            ],
            "useBuiltIns": "usage",
            "loose": true,
            "modules": false,
            "targets": {
              "node": "6.9.0"
            }
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "@babel/plugin-proposal-object-rest-spread",
          {
            "useBuiltIns": true
          }
        ],
        [
          "module:fast-async",
          {
            "useRuntimeModule": true
          }
        ]
      ],
      "presets": [
        [
          "@babel/env",
          {
            "exclude": [
              "transform-regenerator",
              "transform-async-to-generator"
            ],
            "useBuiltIns": "usage",
            "loose": true,
            "modules": "commonjs",
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
