{
  "plugins": [
    "@babel/plugin-syntax-jsx"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "exclude": [ "transform-regenerator", "transform-async-to-generator" ],
        "useBuiltIns": "usage",
        "corejs": 3,
        "loose": true,
      }
    ]
  ]
}
